name: Test

on: [push, pull_request, workflow_dispatch]

jobs:
  Generate:
    name: Run test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --no-cache-dir -U pip
          pip install --no-cache-dir -r <(cat requirements.txt requirements-dev.txt)

      - name: Test
        run: |
          source venv/bin/activate
          pytest -vv test.py
